django          # frameworknya
psycopg2-binary # driver postgres
django-silk
pillow          # untuk mengolah gambar
django-ninja
django-ninja-simple-jwt

# Testing
pytest
pytest-django

# Lainnya (opsional, tambahkan sesuai kebutuhan)
pydantic