django          # frameworknya
psycopg2-binary # driver postgres
django-silk
pillow          # untuk mengolah gambar
django-ninja
django-ninja-simple-jwt

# Testing
pytest>=7.0.0
pytest-django>=4.5.2

# Lainnya (opsional, tambahkan sesuai kebutuhan)
pydantic>=1.10.0